In [282]:
import pyarrow.parquet as pq
import pandas as pd
import numpy as np
import random

In [283]:
# Read the parquet file
train_df = pq.read_table("train.parquet").to_pandas()

In [284]:
train_df.head(5)

                            Patient-Uid       Date           Incident
0  a0db1e73-1c7c-11ec-ae39-16262ee38c7f 2019-03-09  PRIMARY_DIAGNOSIS
1  a0dc93f2-1c7c-11ec-9cd2-16262ee38c7f 2015-05-16  PRIMARY_DIAGNOSIS
3  a0dc94c6-1c7c-11ec-a3a0-16262ee38c7f 2018-01-30     SYMPTOM_TYPE_0
4  a0dc950b-1c7c-11ec-b6ec-16262ee38c7f 2015-04-22        DRUG_TYPE_0
8  a0dc9543-1c7c-11ec-bb63-16262ee38c7f 2016-06-18        DRUG_TYPE_1

In [285]:
len(train_df)

3220868

In [286]:
train_df["Patient-Uid"].nunique()

27033

In [287]:
train_df["Incident"].unique()

array(['PRIMARY_DIAGNOSIS', 'SYMPTOM_TYPE_0', 'DRUG_TYPE_0',
       'DRUG_TYPE_1', 'DRUG_TYPE_2', 'TEST_TYPE_0', 'DRUG_TYPE_3',
       'DRUG_TYPE_4', 'DRUG_TYPE_5', 'DRUG_TYPE_6', 'DRUG_TYPE_8',
       'DRUG_TYPE_7', 'SYMPTOM_TYPE_1', 'DRUG_TYPE_10', 'SYMPTOM_TYPE_29',
       'SYMPTOM_TYPE_2', 'DRUG_TYPE_11', 'DRUG_TYPE_9', 'DRUG_TYPE_13',
       'SYMPTOM_TYPE_5', 'TEST_TYPE_1', 'SYMPTOM_TYPE_6', 'TEST_TYPE_2',
       'SYMPTOM_TYPE_3', 'SYMPTOM_TYPE_8', 'DRUG_TYPE_14', 'DRUG_TYPE_12',
       'SYMPTOM_TYPE_9', 'SYMPTOM_TYPE_10', 'SYMPTOM_TYPE_7',
       'SYMPTOM_TYPE_11', 'TEST_TYPE_3', 'DRUG_TYPE_15', 'SYMPTOM_TYPE_4',
       'SYMPTOM_TYPE_14', 'SYMPTOM_TYPE_13', 'SYMPTOM_TYPE_16',
       'SYMPTOM_TYPE_17', 'SYMPTOM_TYPE_15', 'SYMPTOM_TYPE_18',
       'SYMPTOM_TYPE_12', 'SYMPTOM_TYPE_20', 'SYMPTOM_TYPE_21',
       'DRUG_TYPE_17', 'SYMPTOM_TYPE_22', 'TEST_TYPE_4',
       'SYMPTOM_TYPE_23', 'DRUG_TYPE_16', 'TEST_TYPE_5',
       'SYMPTOM_TYPE_19', 'SYMPTOM_TYPE_24', 'SYMPTOM_TYPE_25',
       'SYMPTOM_TYPE_26', 'SYMPTOM_TYPE_27', 'DRUG_TYPE_18',
       'SYMPTOM_TYPE_28', 'TARGET DRUG'], dtype=object)

In [288]:
len(train_df[train_df["Incident"]=="TARGET DRUG"])

67218

In [289]:
a1 = train_df[(train_df["Patient-Uid"]=="a0eb742b-1c7c-11ec-8f61-16262ee38c7f")&(train_df["Incident"]=="TARGET DRUG")]

In [290]:
a1.sort_values("Date")

                                   Patient-Uid       Date     Incident
19765176  a0eb742b-1c7c-11ec-8f61-16262ee38c7f 2018-09-20  TARGET DRUG
16920765  a0eb742b-1c7c-11ec-8f61-16262ee38c7f 2018-10-18  TARGET DRUG
18067511  a0eb742b-1c7c-11ec-8f61-16262ee38c7f 2018-11-15  TARGET DRUG
5095319   a0eb742b-1c7c-11ec-8f61-16262ee38c7f 2019-01-10  TARGET DRUG
6434302   a0eb742b-1c7c-11ec-8f61-16262ee38c7f 2019-03-13  TARGET DRUG
5498311   a0eb742b-1c7c-11ec-8f61-16262ee38c7f 2019-05-08  TARGET DRUG
10126731  a0eb742b-1c7c-11ec-8f61-16262ee38c7f 2019-07-03  TARGET DRUG
10630528  a0eb742b-1c7c-11ec-8f61-16262ee38c7f 2019-08-29  TARGET DRUG
9199086   a0eb742b-1c7c-11ec-8f61-16262ee38c7f 2019-10-24  TARGET DRUG
11614856  a0eb742b-1c7c-11ec-8f61-16262ee38c7f 2019-12-19  TARGET DRUG
17015222  a0eb742b-1c7c-11ec-8f61-16262ee38c7f 2020-02-13  TARGET DRUG
3294791   a0eb742b-1c7c-11ec-8f61-16262ee38c7f 2020-04-09  TARGET DRUG
10867970  a0eb742b-1c7c-11ec-8f61-16262ee38c7f 2020-06-04  TARGET DRUG
10631409  a0eb742b-1c7c-11ec-8f61-16262ee38c7f 2020-08-13  TARGET DRUG

In [291]:
# Read the parquet file
test_df = pq.read_table("test.parquet").to_pandas()

In [292]:
test_df.head(5)

                            Patient-Uid       Date        Incident
0  a0f9e8a9-1c7c-11ec-8d25-16262ee38c7f 2016-12-08  SYMPTOM_TYPE_0
1  a0f9e8a9-1c7c-11ec-8d25-16262ee38c7f 2018-10-17     DRUG_TYPE_0
2  a0f9e8a9-1c7c-11ec-8d25-16262ee38c7f 2017-12-01     DRUG_TYPE_2
3  a0f9e8a9-1c7c-11ec-8d25-16262ee38c7f 2018-12-05     DRUG_TYPE_1
4  a0f9e8a9-1c7c-11ec-8d25-16262ee38c7f 2017-11-04  SYMPTOM_TYPE_0

In [293]:
test_df["Incident"].unique()

array(['SYMPTOM_TYPE_0', 'DRUG_TYPE_0', 'DRUG_TYPE_2', 'DRUG_TYPE_1',
       'PRIMARY_DIAGNOSIS', 'DRUG_TYPE_8', 'TEST_TYPE_0', 'DRUG_TYPE_7',
       'DRUG_TYPE_11', 'SYMPTOM_TYPE_6', 'DRUG_TYPE_5', 'DRUG_TYPE_6',
       'DRUG_TYPE_9', 'DRUG_TYPE_15', 'TEST_TYPE_3', 'SYMPTOM_TYPE_3',
       'TEST_TYPE_1', 'DRUG_TYPE_3', 'TEST_TYPE_2', 'SYMPTOM_TYPE_7',
       'DRUG_TYPE_12', 'SYMPTOM_TYPE_2', 'SYMPTOM_TYPE_10',
       'SYMPTOM_TYPE_1', 'SYMPTOM_TYPE_17', 'SYMPTOM_TYPE_18',
       'SYMPTOM_TYPE_5', 'SYMPTOM_TYPE_15', 'SYMPTOM_TYPE_9',
       'SYMPTOM_TYPE_4', 'SYMPTOM_TYPE_8', 'SYMPTOM_TYPE_29',
       'DRUG_TYPE_13', 'SYMPTOM_TYPE_21', 'DRUG_TYPE_4',
       'SYMPTOM_TYPE_12', 'SYMPTOM_TYPE_11', 'SYMPTOM_TYPE_19',
       'DRUG_TYPE_14', 'SYMPTOM_TYPE_16', 'TEST_TYPE_4', 'DRUG_TYPE_10',
       'SYMPTOM_TYPE_26', 'SYMPTOM_TYPE_14', 'SYMPTOM_TYPE_24',
       'DRUG_TYPE_16', 'SYMPTOM_TYPE_13', 'TEST_TYPE_5',
       'SYMPTOM_TYPE_20', 'SYMPTOM_TYPE_25', 'SYMPTOM_TYPE_22',
       'DRUG_TYPE_17', 'SYMPTOM_TYPE_27', 'SYMPTOM_TYPE_23',
       'SYMPTOM_TYPE_28'], dtype=object)

In [294]:
len(test_df)

1065524

In [295]:
#doing random sampling to get positive and negative data samples

In [296]:
target_drugs = train_df[train_df["Incident"]=="TARGET DRUG"]

In [297]:
positive_samples = target_drugs.sample(frac=0.3)

In [298]:
positive_samples = positive_samples.reset_index(drop=True)

In [299]:
positive_samples

                                Patient-Uid       Date     Incident
0      a0eb8aee-1c7c-11ec-b295-16262ee38c7f 2020-04-01  TARGET DRUG
1      a0ebf641-1c7c-11ec-b5d3-16262ee38c7f 2018-09-13  TARGET DRUG
2      a0ed6786-1c7c-11ec-bfdf-16262ee38c7f 2020-02-11  TARGET DRUG
3      a0eacf80-1c7c-11ec-a1cb-16262ee38c7f 2019-09-12  TARGET DRUG
4      a0eaf962-1c7c-11ec-a4db-16262ee38c7f 2019-10-15  TARGET DRUG
...                                     ...        ...          ...
20160  a0ea7e39-1c7c-11ec-86c7-16262ee38c7f 2020-06-09  TARGET DRUG
20161  a0ef54b2-1c7c-11ec-998d-16262ee38c7f 2019-11-29  TARGET DRUG
20162  a0eb80e7-1c7c-11ec-ac4b-16262ee38c7f 2019-07-27  TARGET DRUG
20163  a0f0334a-1c7c-11ec-a7a3-16262ee38c7f 2020-03-24  TARGET DRUG
20164  a0ef5b65-1c7c-11ec-9dd5-16262ee38c7f 2019-05-09  TARGET DRUG

[20165 rows x 3 columns]

In [300]:
non_target_drugs = train_df[train_df["Incident"]!="TARGET DRUG"]

In [301]:
negative_samples = non_target_drugs.sample(n=21000)

In [302]:
negative_samples = negative_samples.reset_index(drop=True)

In [303]:
negative_samples

                                Patient-Uid       Date           Incident
0      a0f063cc-1c7c-11ec-b2bc-16262ee38c7f 2019-07-26        DRUG_TYPE_1
1      a0e18c9f-1c7c-11ec-aa81-16262ee38c7f 2016-06-14  PRIMARY_DIAGNOSIS
2      a0ef93c3-1c7c-11ec-ba13-16262ee38c7f 2015-09-05        DRUG_TYPE_7
3      a0e5b6b5-1c7c-11ec-a764-16262ee38c7f 2019-07-13        DRUG_TYPE_1
4      a0ebb642-1c7c-11ec-a2a2-16262ee38c7f 2015-07-28        DRUG_TYPE_2
...                                     ...        ...                ...
20995  a0e52094-1c7c-11ec-9b4f-16262ee38c7f 2019-04-19        DRUG_TYPE_6
20996  a0e7d51b-1c7c-11ec-b228-16262ee38c7f 2016-07-21  PRIMARY_DIAGNOSIS
20997  a0ea7a7f-1c7c-11ec-8b38-16262ee38c7f 2017-01-17        DRUG_TYPE_1
20998  a0dd9d3a-1c7c-11ec-aa09-16262ee38c7f 2017-05-27  PRIMARY_DIAGNOSIS
20999  a0e3b6f8-1c7c-11ec-91bf-16262ee38c7f 2018-08-31        DRUG_TYPE_2

[21000 rows x 3 columns]

In [304]:
total_train_samples = pd.concat([positive_samples,negative_samples])

In [305]:
total_train_samples = total_train_samples.reset_index(drop=True)

In [306]:
total_train_samples.tail(5)

                                Patient-Uid       Date           Incident
41160  a0e52094-1c7c-11ec-9b4f-16262ee38c7f 2019-04-19        DRUG_TYPE_6
41161  a0e7d51b-1c7c-11ec-b228-16262ee38c7f 2016-07-21  PRIMARY_DIAGNOSIS
41162  a0ea7a7f-1c7c-11ec-8b38-16262ee38c7f 2017-01-17        DRUG_TYPE_1
41163  a0dd9d3a-1c7c-11ec-aa09-16262ee38c7f 2017-05-27  PRIMARY_DIAGNOSIS
41164  a0e3b6f8-1c7c-11ec-91bf-16262ee38c7f 2018-08-31        DRUG_TYPE_2

In [307]:
test_target_drugs = test_df[test_df["Incident"]=="TARGET DRUG"]

In [308]:
test_target_drugs

Empty DataFrame
Columns: [Patient-Uid, Date, Incident]
Index: []

In [309]:
total_train_samples1 = total_train_samples.copy()

In [310]:
total_train_samples1['Date'] = pd.to_datetime(total_train_samples1['Date'])

In [311]:
total_train_samples1

                                Patient-Uid       Date           Incident
0      a0eb8aee-1c7c-11ec-b295-16262ee38c7f 2020-04-01        TARGET DRUG
1      a0ebf641-1c7c-11ec-b5d3-16262ee38c7f 2018-09-13        TARGET DRUG
2      a0ed6786-1c7c-11ec-bfdf-16262ee38c7f 2020-02-11        TARGET DRUG
3      a0eacf80-1c7c-11ec-a1cb-16262ee38c7f 2019-09-12        TARGET DRUG
4      a0eaf962-1c7c-11ec-a4db-16262ee38c7f 2019-10-15        TARGET DRUG
...                                     ...        ...                ...
41160  a0e52094-1c7c-11ec-9b4f-16262ee38c7f 2019-04-19        DRUG_TYPE_6
41161  a0e7d51b-1c7c-11ec-b228-16262ee38c7f 2016-07-21  PRIMARY_DIAGNOSIS
41162  a0ea7a7f-1c7c-11ec-8b38-16262ee38c7f 2017-01-17        DRUG_TYPE_1
41163  a0dd9d3a-1c7c-11ec-aa09-16262ee38c7f 2017-05-27  PRIMARY_DIAGNOSIS
41164  a0e3b6f8-1c7c-11ec-91bf-16262ee38c7f 2018-08-31        DRUG_TYPE_2

[41165 rows x 3 columns]

In [312]:
total_train_samples1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41165 entries, 0 to 41164
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Patient-Uid  41165 non-null  object
 1   Date         41165 non-null  datetime64[ns]
 2   Incident     41165 non-null  object
dtypes: datetime64[ns](1), object(2)
memory usage: 964.9+ KB

In [313]:
total_train_samples1['Patient-Uid'].nunique()

16708

In [314]:
total_train_samples1.head(5)

                            Patient-Uid       Date     Incident
0  a0eb8aee-1c7c-11ec-b295-16262ee38c7f 2020-04-01  TARGET DRUG
1  a0ebf641-1c7c-11ec-b5d3-16262ee38c7f 2018-09-13  TARGET DRUG
2  a0ed6786-1c7c-11ec-bfdf-16262ee38c7f 2020-02-11  TARGET DRUG
3  a0eacf80-1c7c-11ec-a1cb-16262ee38c7f 2019-09-12  TARGET DRUG
4  a0eaf962-1c7c-11ec-a4db-16262ee38c7f 2019-10-15  TARGET DRUG

In [315]:
#total_train_samples1['Date'] = total_train_samples1['Date'].dt.strftime('%m/%d/%Y')

In [316]:
total_train_samples1 = total_train_samples1.sort_values(['Patient-Uid','Date'])

In [317]:
total_train_samples1.head(5)

                                Patient-Uid       Date     Incident
36524  a0dc93f2-1c7c-11ec-9cd2-16262ee38c7f 2018-07-23  DRUG_TYPE_1
31323  a0dc94c6-1c7c-11ec-a3a0-16262ee38c7f 2015-08-13  DRUG_TYPE_7
40268  a0dc950b-1c7c-11ec-b6ec-16262ee38c7f 2016-02-26  DRUG_TYPE_1
29178  a0dc950b-1c7c-11ec-b6ec-16262ee38c7f 2017-09-14  DRUG_TYPE_8
32561  a0dc950b-1c7c-11ec-b6ec-16262ee38c7f 2020-03-21  DRUG_TYPE_8

In [318]:
#total_train_samples1 = total_train_samples1.groupby('Patient-Uid')
#df['diff'] = df['diff'].fillna(0)

In [319]:
total_train_samples1.head(5)

                                Patient-Uid       Date     Incident
36524  a0dc93f2-1c7c-11ec-9cd2-16262ee38c7f 2018-07-23  DRUG_TYPE_1
31323  a0dc94c6-1c7c-11ec-a3a0-16262ee38c7f 2015-08-13  DRUG_TYPE_7
40268  a0dc950b-1c7c-11ec-b6ec-16262ee38c7f 2016-02-26  DRUG_TYPE_1
29178  a0dc950b-1c7c-11ec-b6ec-16262ee38c7f 2017-09-14  DRUG_TYPE_8
32561  a0dc950b-1c7c-11ec-b6ec-16262ee38c7f 2020-03-21  DRUG_TYPE_8

In [320]:
total_train_samples1['diff'] =total_train_samples1.groupby('Patient-Uid')['Date'].diff() / np.timedelta64(1, 'D')

In [321]:
total_train_samples1['diff'] = total_train_samples1['diff'].fillna(0)

In [322]:
total_train_samples1.head(5)

                                Patient-Uid       Date     Incident   diff
36524  a0dc93f2-1c7c-11ec-9cd2-16262ee38c7f 2018-07-23  DRUG_TYPE_1    0.0
31323  a0dc94c6-1c7c-11ec-a3a0-16262ee38c7f 2015-08-13  DRUG_TYPE_7    0.0
40268  a0dc950b-1c7c-11ec-b6ec-16262ee38c7f 2016-02-26  DRUG_TYPE_1    0.0
29178  a0dc950b-1c7c-11ec-b6ec-16262ee38c7f 2017-09-14  DRUG_TYPE_8  566.0
32561  a0dc950b-1c7c-11ec-b6ec-16262ee38c7f 2020-03-21  DRUG_TYPE_8  919.0

In [323]:
total_train_samples1[total_train_samples1["diff"]>0]

                                Patient-Uid       Date     Incident    diff
29178  a0dc950b-1c7c-11ec-b6ec-16262ee38c7f 2017-09-14  DRUG_TYPE_8   566.0
32561  a0dc950b-1c7c-11ec-b6ec-16262ee38c7f 2020-03-21  DRUG_TYPE_8   919.0
37606  a0dc95f9-1c7c-11ec-b968-16262ee38c7f 2016-04-19  DRUG_TYPE_9   112.0
32634  a0dc95f9-1c7c-11ec-b968-16262ee38c7f 2019-12-28  DRUG_TYPE_6  1348.0
36830  a0dc9659-1c7c-11ec-a91e-16262ee38c7f 2019-03-19  DRUG_TYPE_7   299.0
...                                     ...        ...          ...     ...
6764   a0f0d467-1c7c-11ec-bce2-16262ee38c7f 2020-07-10  TARGET DRUG   960.0
26600  a0f0d496-1c7c-11ec-ab26-16262ee38c7f 2019-07-13  DRUG_TYPE_0    30.0
4830   a0f0d523-1c7c-11ec-89d2-16262ee38c7f 2020-06-17  TARGET DRUG    27.0
5909   a0f0d523-1c7c-11ec-89d2-16262ee38c7f 2020-08-11  TARGET DRUG    55.0
37851  a0f0d553-1c7c-11ec-a70a-16262ee38c7f 2019-06-01  DRUG_TYPE_6    63.0

[24298 rows x 4 columns]

In [324]:
mean_days_sample = total_train_samples1.copy()

In [325]:
mean_days_sample = mean_days_sample.groupby("Patient-Uid")["diff"].mean()

In [326]:
mean_days_sample.head(5)

Patient-Uid
a0dc93f2-1c7c-11ec-9cd2-16262ee38c7f      0.0
a0dc94c6-1c7c-11ec-a3a0-16262ee38c7f      0.0
a0dc950b-1c7c-11ec-b6ec-16262ee38c7f    495.0
a0dc9543-1c7c-11ec-bb63-16262ee38c7f      0.0
a0dc95c6-1c7c-11ec-8e77-16262ee38c7f      0.0
Name: diff, dtype: float64

In [327]:
mean_days = pd.DataFrame(mean_days_sample)

In [328]:
mean_days.head(5)

                                       diff
Patient-Uid
a0dc93f2-1c7c-11ec-9cd2-16262ee38c7f    0.0
a0dc94c6-1c7c-11ec-a3a0-16262ee38c7f    0.0
a0dc950b-1c7c-11ec-b6ec-16262ee38c7f  495.0
a0dc9543-1c7c-11ec-bb63-16262ee38c7f    0.0
a0dc95c6-1c7c-11ec-8e77-16262ee38c7f    0.0

In [329]:
mean_days.reset_index(inplace=True)

In [330]:
mean_days.rename({"index":"Patient-Uid","diff":"mean_days"},axis=1,inplace=True)

In [331]:
mean_days

                                Patient-Uid   mean_days
0      a0dc93f2-1c7c-11ec-9cd2-16262ee38c7f    0.000000
1      a0dc94c6-1c7c-11ec-a3a0-16262ee38c7f    0.000000
2      a0dc950b-1c7c-11ec-b6ec-16262ee38c7f  495.000000
3      a0dc9543-1c7c-11ec-bb63-16262ee38c7f    0.000000
4      a0dc95c6-1c7c-11ec-8e77-16262ee38c7f    0.000000
...                                     ...         ...
16703  a0f0d496-1c7c-11ec-ab26-16262ee38c7f   15.000000
16704  a0f0d4f4-1c7c-11ec-b144-16262ee38c7f    0.000000
16705  a0f0d523-1c7c-11ec-89d2-16262ee38c7f   27.333333
16706  a0f0d553-1c7c-11ec-a70a-16262ee38c7f   31.500000
16707  a0f0d582-1c7c-11ec-a6c1-16262ee38c7f    0.000000

[16708 rows x 2 columns]

In [332]:
target_drug = total_train_samples1.copy()

In [333]:
target_drug = target_drug.groupby("Patient-Uid")["Incident"].apply(lambda x : x[x=="TARGET DRUG"].count())

In [334]:
target_drug

Patient-Uid
a0dc93f2-1c7c-11ec-9cd2-16262ee38c7f    0
a0dc94c6-1c7c-11ec-a3a0-16262ee38c7f    0
a0dc950b-1c7c-11ec-b6ec-16262ee38c7f    0
a0dc9543-1c7c-11ec-bb63-16262ee38c7f    0
a0dc95c6-1c7c-11ec-8e77-16262ee38c7f    0
                                       ..
a0f0d496-1c7c-11ec-ab26-16262ee38c7f    1
a0f0d4f4-1c7c-11ec-b144-16262ee38c7f    1
a0f0d523-1c7c-11ec-89d2-16262ee38c7f    3
a0f0d553-1c7c-11ec-a70a-16262ee38c7f    0
a0f0d582-1c7c-11ec-a6c1-16262ee38c7f    0
Name: Incident, Length: 16708, dtype: int64

In [335]:
counts = total_train_samples1["Patient-Uid"].value_counts()

In [336]:
counts_df = pd.DataFrame(counts)

In [337]:
counts_df.reset_index(inplace=True)

In [338]:
counts_df.head(5)

                                  index  Patient-Uid
0  a0e9c9ec-1c7c-11ec-9e45-16262ee38c7f           18
1  a0eb736d-1c7c-11ec-9ad6-16262ee38c7f           15
2  a0ddfd2c-1c7c-11ec-876d-16262ee38c7f           15
3  a0eb335c-1c7c-11ec-8082-16262ee38c7f           15
4  a0ebf176-1c7c-11ec-b640-16262ee38c7f           14

In [339]:
counts_df.rename({"index":"Patient-Uid","Patient-Uid":"patient_visits"},axis=1,inplace=True)

In [340]:
counts_df.head(5)

                            Patient-Uid  patient_visits
0  a0e9c9ec-1c7c-11ec-9e45-16262ee38c7f              18
1  a0eb736d-1c7c-11ec-9ad6-16262ee38c7f              15
2  a0ddfd2c-1c7c-11ec-876d-16262ee38c7f              15
3  a0eb335c-1c7c-11ec-8082-16262ee38c7f              15
4  a0ebf176-1c7c-11ec-b640-16262ee38c7f              14

In [341]:
counts_df.shape

(16708, 2)

In [342]:
counts_df[counts_df["patient_visits"]==1]

                                Patient-Uid  patient_visits
9513   a0eb6441-1c7c-11ec-a01b-16262ee38c7f               1
9514   a0e531ee-1c7c-11ec-8afb-16262ee38c7f               1
9515   a0dd149e-1c7c-11ec-9aa3-16262ee38c7f               1
9516   a0dcbede-1c7c-11ec-9a52-16262ee38c7f               1
9517   a0e8efbf-1c7c-11ec-997e-16262ee38c7f               1
...                                     ...             ...
16703  a0e6e48f-1c7c-11ec-a424-16262ee38c7f               1
16704  a0e84fd3-1c7c-11ec-86fd-16262ee38c7f               1
16705  a0df918e-1c7c-11ec-82b8-16262ee38c7f               1
16706  a0df982e-1c7c-11ec-9024-16262ee38c7f               1
16707  a0e00fdd-1c7c-11ec-bcf1-16262ee38c7f               1

[7195 rows x 2 columns]

In [343]:
count=0
for x,i in enumerate(counts_df["patient_visits"]):
    if i==1:
        count = count+1
print(count)        #print(counts_df["Patient-Uid"][x])

7195

In [344]:
result_df = pd.merge(target_drug,counts_df,on="Patient-Uid",how="inner")

In [345]:
result_df = pd.merge(result_df,mean_days,on="Patient-Uid",how="inner")

In [346]:
result_df

,Patient-Uid,Incident,patient_visits,mean_days
0,a0dc93f2-1c7c-11ec-9cd2-16262ee38c7f,0,1,0.000000
1,a0dc94c6-1c7c-11ec-a3a0-16262ee38c7f,0,1,0.000000
2,a0dc950b-1c7c-11ec-b6ec-16262ee38c7f,0,3,495.000000
3,a0dc9543-1c7c-11ec-bb63-16262ee38c7f,0,1,0.000000
4,a0dc95c6-1c7c-11ec-8e77-16262ee38c7f,0,1,0.000000
...,...,...,...,...
16703,a0f0d496-1c7c-11ec-ab26-16262ee38c7f,1,2,15.000000
16704,a0f0d4f4-1c7c-11ec-b144-16262ee38c7f,1,1,0.000000
16705,a0f0d523-1c7c-11ec-89d2-16262ee38c7f,3,3,27.333333
16706,a0f0d553-1c7c-11ec-a70a-16262ee38c7f,0,2,31.500000
16707,a0f0d582-1c7c-11ec-a6c1-16262ee38c7f,0,1,0.000000

In [347]:
def giving_classes(x):
    if x["Incident"] ==0 and x["mean_days"]<=30:
        return 1
    else:
        return 0

In [348]:
result_df["target_drug_prescription"] = result_df[["Incident","mean_days"]].apply(giving_classes,axis=1)

In [349]:
result_df.head()

,Patient-Uid,Incident,patient_visits,mean_days,target_drug_prescription
0,a0dc93f2-1c7c-11ec-9cd2-16262ee38c7f,0,1,0.0,1
1,a0dc94c6-1c7c-11ec-a3a0-16262ee38c7f,0,1,0.0,1
2,a0dc950b-1c7c-11ec-b6ec-16262ee38c7f,0,3,495.0,0
3,a0dc9543-1c7c-11ec-bb63-16262ee38c7f,0,1,0.0,1
4,a0dc95c6-1c7c-11ec-8e77-16262ee38c7f,0,1,0.0,1

In [350]:
result_df.rename({"Incident":"Target_Drug_Incident"},axis=1,inplace=True)

In [351]:
result_df

,Patient-Uid,Target_Drug_Incident,patient_visits,mean_days,target_drug_prescription
0,a0dc93f2-1c7c-11ec-9cd2-16262ee38c7f,0,1,0.000000,1
1,a0dc94c6-1c7c-11ec-a3a0-16262ee38c7f,0,1,0.000000,1
2,a0dc950b-1c7c-11ec-b6ec-16262ee38c7f,0,3,495.000000,0
3,a0dc9543-1c7c-11ec-bb63-16262ee38c7f,0,1,0.000000,1
4,a0dc95c6-1c7c-11ec-8e77-16262ee38c7f,0,1,0.000000,1
...,...,...,...,...,...
16703,a0f0d496-1c7c-11ec-ab26-16262ee38c7f,1,2,15.000000,0
16704,a0f0d4f4-1c7c-11ec-b144-16262ee38c7f,1,1,0.000000,0
16705,a0f0d523-1c7c-11ec-89d2-16262ee38c7f,3,3,27.333333,0
16706,a0f0d553-1c7c-11ec-a70a-16262ee38c7f,0,2,31.500000,0
16707,a0f0d582-1c7c-11ec-a6c1-16262ee38c7f,0,1,0.000000,1

In [352]:
test_df['Date'] = pd.to_datetime(total_train_samples1['Date'])

In [353]:
total_train_samples1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 41165 entries, 36524 to 36096
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Patient-Uid  41165 non-null  object
 1   Date         41165 non-null  datetime64[ns]
 2   Incident     41165 non-null  object
 3   diff         41165 non-null  float64
dtypes: datetime64[ns](1), float64(1), object(2)
memory usage: 2.8+ MB

In [354]:
test_df1 = test_df.copy()

In [355]:
test_df1 = test_df1.sort_values(['Patient-Uid','Date'])

In [356]:
test_df1['diff'] =test_df1.groupby('Patient-Uid')['Date'].diff() / np.timedelta64(1, 'D')

In [357]:
test_df1['diff'] = test_df1['diff'].fillna(0)

In [358]:
test_df1.head()

                             Patient-Uid       Date           Incident  diff
42  a0f9e8a9-1c7c-11ec-8d25-16262ee38c7f 2018-03-08        DRUG_TYPE_8   0.0
25  a0f9e8a9-1c7c-11ec-8d25-16262ee38c7f 2018-03-27  PRIMARY_DIAGNOSIS  19.0
6   a0f9e8a9-1c7c-11ec-8d25-16262ee38c7f 2018-04-05  PRIMARY_DIAGNOSIS   9.0
9   a0f9e8a9-1c7c-11ec-8d25-16262ee38c7f 2018-06-05        DRUG_TYPE_0  61.0
22  a0f9e8a9-1c7c-11ec-8d25-16262ee38c7f 2018-06-13        DRUG_TYPE_8   8.0

In [359]:
target_test_drug = test_df1.copy()

In [360]:
target_test_drug = target_test_drug.groupby("Patient-Uid")["Incident"].apply(lambda x : x[x=="TARGET DRUG"].count())

In [361]:
target_test_drug

Patient-Uid
a0f9e8a9-1c7c-11ec-8d25-16262ee38c7f    0
a0f9e9f9-1c7c-11ec-b565-16262ee38c7f    0
a0f9ea43-1c7c-11ec-aa10-16262ee38c7f    0
a0f9ea7c-1c7c-11ec-af15-16262ee38c7f    0
a0f9eab1-1c7c-11ec-a732-16262ee38c7f    0
                                       ..
a102720c-1c7c-11ec-bd9a-16262ee38c7f    0
a102723c-1c7c-11ec-9f80-16262ee38c7f    0
a102726b-1c7c-11ec-bfbf-16262ee38c7f    0
a102729b-1c7c-11ec-86ba-16262ee38c7f    0
a10272c9-1c7c-11ec-b3ce-16262ee38c7f    0
Name: Incident, Length: 11482, dtype: int64

In [362]:
counts1 = test_df1["Patient-Uid"].value_counts()

In [363]:
counts_df1 = pd.DataFrame(counts1)

In [364]:
counts_df1.reset_index(inplace=True)

In [365]:
counts_df1.rename({"index":"Patient-Uid","Patient-Uid":"patient_visits"},axis=1,inplace=True)

In [366]:
counts_df1.head(5)

                            Patient-Uid  patient_visits
0  a0faa6ed-1c7c-11ec-8f6f-16262ee38c7f            1236
1  a0f9fcfc-1c7c-11ec-9753-16262ee38c7f             987
2  a10011d0-1c7c-11ec-8a16-16262ee38c7f             806
3  a1006069-1c7c-11ec-83a8-16262ee38c7f             721
4  a1018d58-1c7c-11ec-a6e0-16262ee38c7f             719

In [367]:
mean_days_sample1 = test_df1.copy()

In [368]:
mean_days_sample1 = mean_days_sample1.groupby("Patient-Uid")["diff"].mean()

In [369]:
mean_days1 = pd.DataFrame(mean_days_sample1)

In [370]:
mean_days1.head()

                                           diff
Patient-Uid
a0f9e8a9-1c7c-11ec-8d25-16262ee38c7f  16.272727
a0f9e9f9-1c7c-11ec-b565-16262ee38c7f   6.661538
a0f9ea43-1c7c-11ec-aa10-16262ee38c7f   9.406593
a0f9ea7c-1c7c-11ec-af15-16262ee38c7f   8.289474
a0f9eab1-1c7c-11ec-a732-16262ee38c7f  12.955224

In [371]:
mean_days1.reset_index(inplace=True)

In [372]:
mean_days1.rename({"index":"Patient-Uid","diff":"mean_days"},axis=1,inplace=True)

In [373]:
mean_days1.head(5)

                            Patient-Uid  mean_days
0  a0f9e8a9-1c7c-11ec-8d25-16262ee38c7f  16.272727
1  a0f9e9f9-1c7c-11ec-b565-16262ee38c7f   6.661538
2  a0f9ea43-1c7c-11ec-aa10-16262ee38c7f   9.406593
3  a0f9ea7c-1c7c-11ec-af15-16262ee38c7f   8.289474
4  a0f9eab1-1c7c-11ec-a732-16262ee38c7f  12.955224

In [374]:
result_df1 = pd.merge(target_test_drug,counts_df1,on="Patient-Uid",how="inner")

In [375]:
result_df1 = pd.merge(result_df1,mean_days1,on="Patient-Uid",how="inner")

In [376]:
result_df1

,Patient-Uid,Incident,patient_visits,mean_days
0,a0f9e8a9-1c7c-11ec-8d25-16262ee38c7f,0,55,16.272727
1,a0f9e9f9-1c7c-11ec-b565-16262ee38c7f,0,130,6.661538
2,a0f9ea43-1c7c-11ec-aa10-16262ee38c7f,0,91,9.406593
3,a0f9ea7c-1c7c-11ec-af15-16262ee38c7f,0,114,8.289474
4,a0f9eab1-1c7c-11ec-a732-16262ee38c7f,0,67,12.955224
...,...,...,...,...
11477,a102720c-1c7c-11ec-bd9a-16262ee38c7f,0,79,0.000000
11478,a102723c-1c7c-11ec-9f80-16262ee38c7f,0,30,0.000000
11479,a102726b-1c7c-11ec-bfbf-16262ee38c7f,0,89,0.000000
11480,a102729b-1c7c-11ec-86ba-16262ee38c7f,0,38,0.000000
11481,a10272c9-1c7c-11ec-b3ce-16262ee38c7f,0,179,0.000000

In [377]:
result_df1["target_drug_prescription"] = result_df1[["Incident","mean_days"]].apply(giving_classes,axis=1)

In [378]:
result_df1.head()

,Patient-Uid,Incident,patient_visits,mean_days,target_drug_prescription
0,a0f9e8a9-1c7c-11ec-8d25-16262ee38c7f,0,55,16.272727,1
1,a0f9e9f9-1c7c-11ec-b565-16262ee38c7f,0,130,6.661538,1
2,a0f9ea43-1c7c-11ec-aa10-16262ee38c7f,0,91,9.406593,1
3,a0f9ea7c-1c7c-11ec-af15-16262ee38c7f,0,114,8.289474,1
4,a0f9eab1-1c7c-11ec-a732-16262ee38c7f,0,67,12.955224,1

In [379]:
result_df.head(5)

,Patient-Uid,Target_Drug_Incident,patient_visits,mean_days,target_drug_prescription
0,a0dc93f2-1c7c-11ec-9cd2-16262ee38c7f,0,1,0.0,1
1,a0dc94c6-1c7c-11ec-a3a0-16262ee38c7f,0,1,0.0,1
2,a0dc950b-1c7c-11ec-b6ec-16262ee38c7f,0,3,495.0,0
3,a0dc9543-1c7c-11ec-bb63-16262ee38c7f,0,1,0.0,1
4,a0dc95c6-1c7c-11ec-8e77-16262ee38c7f,0,1,0.0,1

In [380]:
X.shape

(16705, 3)

In [381]:
X = result_df.drop(["target_drug_prescription",'Patient-Uid'],axis=1)

In [382]:
Y = result_df["target_drug_prescription"]

In [383]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score

In [384]:
X_train,X_val,Y_train,Y_val = train_test_split(X,Y,test_size=0.3,random_state=123)

In [385]:
X_train.shape

(11695, 3)

In [386]:
X_val.shape

(5013, 3)

In [387]:
X_test = result_df1.drop(["target_drug_prescription",'Patient-Uid'],axis=1)

In [388]:
Y_test = result_df1["target_drug_prescription"]

In [389]:
from sklearn.ensemble import RandomForestClassifier

In [390]:
rfc = RandomForestClassifier()

In [391]:
rfc.fit(X_train,Y_train)

RandomForestClassifier()

In [392]:
val_pred = rfc.predict(X_val)

In [393]:
accuracy_val = accuracy_score(val_pred,Y_val)

In [394]:
accuracy_val

1.0

In [395]:
f1_score_val = f1_score(Y_val,val_pred,average="weighted")

In [396]:
f1_score_val

1.0

In [397]:
prediction = rfc.predict(X_test)

C:\Users\chandru\anaconda3\lib\site-packages\sklearn\base.py:493: FutureWarning: The feature names should match those that were passed during fit. Starting version 1.2, an error will be raised.
Feature names unseen at fit time:
- Incident
Feature names seen at fit time, yet now missing:
- Target_Drug_Incident

  warnings.warn(message, FutureWarning)

In [398]:
result_df1["predictions"] = prediction

In [399]:
result_df1.head(50)

,Patient-Uid,Incident,patient_visits,mean_days,target_drug_prescription,predictions
0,a0f9e8a9-1c7c-11ec-8d25-16262ee38c7f,0,55,16.272727,1,1
1,a0f9e9f9-1c7c-11ec-b565-16262ee38c7f,0,130,6.661538,1,1
2,a0f9ea43-1c7c-11ec-aa10-16262ee38c7f,0,91,9.406593,1,1
3,a0f9ea7c-1c7c-11ec-af15-16262ee38c7f,0,114,8.289474,1,1
4,a0f9eab1-1c7c-11ec-a732-16262ee38c7f,0,67,12.955224,1,1
5,a0f9eae4-1c7c-11ec-9bdb-16262ee38c7f,0,44,18.681818,1,1
6,a0f9eb1c-1c7c-11ec-a373-16262ee38c7f,0,50,16.960000,1,1
7,a0f9eb4d-1c7c-11ec-8c2b-16262ee38c7f,0,103,8.271845,1,1
8,a0f9eb80-1c7c-11ec-91c3-16262ee38c7f,0,88,12.136364,1,1
9,a0f9ebb1-1c7c-11ec-882f-16262ee38c7f,0,94,9.329787,1,1
10,a0f9ebe4-1c7c-11ec-bff2-16262ee38c7f,0,117,8.273504,1,1
11,a0f9ec45-1c7c-11ec-9011-16262ee38c7f,0,89,10.033708,1,1
12,a0f9ec78-1c7c-11ec-9c94-16262ee38c7f,0,107,8.392523,1,1
13,a0f9eca8-1c7c-11ec-80ec-16262ee38c7f,0,57,14.964912,1,1
14,a0f9ecdf-1c7c-11ec-8ef1-16262ee38c7f,0,50,16.880000,1,1
15,a0f9ed11-1c7c-11ec-a61f-16262ee38c7f,0,57,15.701754,1,1
16,a0f9ed41-1c7c-11ec-b88a-16262ee38c7f,0,141,8.985816,1,1
17,a0f9ed71-1c7c-11ec-b3b7-16262ee38c7f,0,165,5.375758,1,1
18,a0f9eda2-1c7c-11ec-b287-16262ee38c7f,0,53,15.698113,1,1
19,a0f9edd1-1c7c-11ec-85c7-16262ee38c7f,0,162,6.592593,1,1
20,a0f9ee02-1c7c-11ec-9a86-16262ee38c7f,0,55,15.418182,1,1
21,a0f9ee31-1c7c-11ec-90d5-16262ee38c7f,0,184,4.907609,1,1
22,a0f9ee6c-1c7c-11ec-83e8-16262ee38c7f,0,80,10.637500,1,1
23,a0f9ee9e-1c7c-11ec-9acc-16262ee38c7f,0,108,10.611111,1,1
24,a0f9eecf-1c7c-11ec-a778-16262ee38c7f,0,56,15.410714,1,1
25,a0f9eeff-1c7c-11ec-b13f-16262ee38c7f,0,204,4.323529,1,1
26,a0f9ef2f-1c7c-11ec-8bab-16262ee38c7f,0,59,14.864407,1,1
27,a0f9ef60-1c7c-11ec-9241-16262ee38c7f,0,136,6.500000,1,1
28,a0f9ef8f-1c7c-11ec-b718-16262ee38c7f,0,49,17.346939,1,1
29,a0f9efc0-1c7c-11ec-8627-16262ee38c7f,0,48,18.291667,1,1
30,a0f9efef-1c7c-11ec-bf7c-16262ee38c7f,0,84,10.333333,1,1
31,a0f9f020-1c7c-11ec-9a31-16262ee38c7f,0,50,18.160000,1,1
32,a0f9f04f-1c7c-11ec-b1a3-16262ee38c7f,0,72,11.708333,1,1
33,a0f9f07f-1c7c-11ec-8f20-16262ee38c7f,0,77,11.532468,1,1
34,a0f9f0af-1c7c-11ec-b396-16262ee38c7f,0,148,5.864865,1,1
35,a0f9f0e0-1c7c-11ec-8006-16262ee38c7f,0,76,11.434211,1,1
36,a0f9f112-1c7c-11ec-b85d-16262ee38c7f,0,103,10.378641,1,1
37,a0f9f142-1c7c-11ec-9deb-16262ee38c7f,0,154,7.500000,1,1
38,a0f9f173-1c7c-11ec-ab58-16262ee38c7f,0,243,3.539095,1,1
39,a0f9f1a2-1c7c-11ec-be24-16262ee38c7f,0,152,5.802632,1,1
40,a0f9f1d1-1c7c-11ec-b86a-16262ee38c7f,0,122,7.286885,1,1
41,a0f9f202-1c7c-11ec-abed-16262ee38c7f,0,172,6.697674,1,1
42,a0f9f232-1c7c-11ec-b0a3-16262ee38c7f,0,194,5.690722,1,1
43,a0f9f26d-1c7c-11ec-a2f4-16262ee38c7f,0,189,4.624339,1,1
44,a0f9f29e-1c7c-11ec-ad1c-16262ee38c7f,0,95,9.305263,1,1
45,a0f9f2ce-1c7c-11ec-bcb6-16262ee38c7f,0,79,11.430380,1,1
46,a0f9f2ff-1c7c-11ec-b589-16262ee38c7f,0,58,14.551724,1,1
47,a0f9f32e-1c7c-11ec-866b-16262ee38c7f,0,134,6.679104,1,1
48,a0f9f35f-1c7c-11ec-945a-16262ee38c7f,0,120,7.283333,1,1
49,a0f9f38e-1c7c-11ec-b8ad-16262ee38c7f,0,126,6.674603,1,1

In [400]:
result_df1[result_df1["predictions"]==0]

,Patient-Uid,Incident,patient_visits,mean_days,target_drug_prescription,predictions
161,a0fa08ea-1c7c-11ec-89f3-16262ee38c7f,0,55,34.200000,0,0
169,a0fa0a6a-1c7c-11ec-9fe2-16262ee38c7f,0,63,29.777778,1,0
172,a0fa0b0f-1c7c-11ec-8bc5-16262ee38c7f,0,38,50.210526,0,0
173,a0fa0b3f-1c7c-11ec-aaa3-16262ee38c7f,0,44,43.272727,0,0
174,a0fa0b6f-1c7c-11ec-bf3f-16262ee38c7f,0,55,34.690909,0,0
176,a0fa0bd0-1c7c-11ec-ba6e-16262ee38c7f,0,61,30.245902,0,0
177,a0fa0c00-1c7c-11ec-8ece-16262ee38c7f,0,64,30.093750,0,0
178,a0fa0c31-1c7c-11ec-af29-16262ee38c7f,0,50,36.560000,0,0
182,a0fa0d09-1c7c-11ec-95f7-16262ee38c7f,0,52,37.730769,0,0
187,a0fa0df8-1c7c-11ec-ac3b-16262ee38c7f,0,35,53.800000,0,0
196,a0fa0fa9-1c7c-11ec-b12d-16262ee38c7f,0,63,29.809524,1,0
200,a0fa1067-1c7c-11ec-b48b-16262ee38c7f,0,37,51.486486,0,0
206,a0fa1186-1c7c-11ec-b25d-16262ee38c7f,0,36,49.083333,0,0
207,a0fa11b5-1c7c-11ec-bfcf-16262ee38c7f,0,54,31.333333,0,0
208,a0fa11e5-1c7c-11ec-adfa-16262ee38c7f,0,43,43.581395,0,0
209,a0fa1214-1c7c-11ec-8326-16262ee38c7f,0,55,32.345455,0,0
210,a0fa1244-1c7c-11ec-a91c-16262ee38c7f,0,51,37.039216,0,0
214,a0fa1303-1c7c-11ec-b9f3-16262ee38c7f,0,45,41.266667,0,0
216,a0fa1364-1c7c-11ec-bfb3-16262ee38c7f,0,56,33.750000,0,0
218,a0fa13c3-1c7c-11ec-80fa-16262ee38c7f,0,61,29.573770,1,0
225,a0fa1528-1c7c-11ec-94d1-16262ee38c7f,0,50,37.700000,0,0
226,a0fa1557-1c7c-11ec-9a3e-16262ee38c7f,0,62,30.822581,0,0
232,a0fa1677-1c7c-11ec-a015-16262ee38c7f,0,57,34.543860,0,0
235,a0fa1704-1c7c-11ec-b2d0-16262ee38c7f,0,63,30.523810,0,0
238,a0fa1793-1c7c-11ec-a0b9-16262ee38c7f,0,54,35.296296,0,0
242,a0fa1851-1c7c-11ec-a1a2-16262ee38c7f,0,41,46.219512,0,0
243,a0fa1880-1c7c-11ec-9d33-16262ee38c7f,0,54,34.555556,0,0
247,a0fa1940-1c7c-11ec-b9b9-16262ee38c7f,0,45,43.422222,0,0
248,a0fa196f-1c7c-11ec-a0f1-16262ee38c7f,0,49,39.387755,0,0
250,a0fa19cf-1c7c-11ec-9b60-16262ee38c7f,0,50,38.220000,0,0
252,a0fa1a2f-1c7c-11ec-829e-16262ee38c7f,0,57,33.526316,0,0
253,a0fa1a5f-1c7c-11ec-9a8e-16262ee38c7f,0,54,36.092593,0,0
254,a0fa1a8e-1c7c-11ec-8568-16262ee38c7f,0,54,34.537037,0,0
255,a0fa1abd-1c7c-11ec-9bcf-16262ee38c7f,0,44,43.386364,0,0
256,a0fa1aed-1c7c-11ec-854c-16262ee38c7f,0,61,32.229508,0,0
275,a0fa1e95-1c7c-11ec-9760-16262ee38c7f,0,63,29.904762,1,0
276,a0fa1ec5-1c7c-11ec-b75e-16262ee38c7f,0,33,52.393939,0,0
282,a0fa1fe4-1c7c-11ec-9e1b-16262ee38c7f,0,63,29.634921,1,0
291,a0fa2191-1c7c-11ec-9dac-16262ee38c7f,0,62,29.790323,1,0
292,a0fa21c1-1c7c-11ec-beb1-16262ee38c7f,0,64,30.687500,0,0
295,a0fa2250-1c7c-11ec-b450-16262ee38c7f,0,56,34.321429,0,0
298,a0fa22de-1c7c-11ec-8756-16262ee38c7f,0,49,37.387755,0,0
300,a0fa233f-1c7c-11ec-bcee-16262ee38c7f,0,48,40.270833,0,0
311,a0fa2564-1c7c-11ec-8b46-16262ee38c7f,0,59,31.186441,0,0
313,a0fa25c3-1c7c-11ec-a357-16262ee38c7f,0,51,38.039216,0,0
318,a0fa26b1-1c7c-11ec-a232-16262ee38c7f,0,42,40.166667,0,0
321,a0fa2740-1c7c-11ec-afc2-16262ee38c7f,0,54,34.296296,0,0
326,a0fa2830-1c7c-11ec-9927-16262ee38c7f,0,53,35.622642,0,0
330,a0fa28f1-1c7c-11ec-bd43-16262ee38c7f,0,49,39.346939,0,0
331,a0fa2921-1c7c-11ec-bf8d-16262ee38c7f,0,42,45.166667,0,0
333,a0fa2981-1c7c-11ec-aacd-16262ee38c7f,0,47,36.659574,0,0

In [401]:
result_df1[result_df1["predictions"]!=result_df1["target_drug_prescription"]]

,Patient-Uid,Incident,patient_visits,mean_days,target_drug_prescription,predictions
169,a0fa0a6a-1c7c-11ec-9fe2-16262ee38c7f,0,63,29.777778,1,0
196,a0fa0fa9-1c7c-11ec-b12d-16262ee38c7f,0,63,29.809524,1,0
218,a0fa13c3-1c7c-11ec-80fa-16262ee38c7f,0,61,29.573770,1,0
275,a0fa1e95-1c7c-11ec-9760-16262ee38c7f,0,63,29.904762,1,0
282,a0fa1fe4-1c7c-11ec-9e1b-16262ee38c7f,0,63,29.634921,1,0
291,a0fa2191-1c7c-11ec-9dac-16262ee38c7f,0,62,29.790323,1,0

In [402]:
from sklearn.metrics import accuracy_score

In [403]:
accuracy = accuracy_score(Y_test,prediction)

In [404]:
accuracy

0.9994774429541892

In [405]:
f1score = f1_score(Y_test,prediction)

In [406]:
f1score

0.9997376246283016

In [407]:
final_result = result_df1[["Patient-Uid","predictions"]]

In [408]:
final_result.rename({"predictions":"label"},axis=1,inplace=True)

C:\Users\chandru\anaconda3\lib\site-packages\pandas\core\frame.py:4300: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

In [410]:
final_result.shape

(11482, 2)

In [412]:
final_result.to_csv("submission.csv")